.add-country form {
    display: flex;
    flex-direction: column;  
    justify-content: center;
    align-items: center;
}

.add-country form input, textarea{
    width: 40%;
    margin-bottom: 15px;
}